@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    -webkit-tap-highlight-color: transparent;
  }
}


